/deploy.sh
dpi72.background.tiff
dpi36.background.tiff
depends/x86_64-apple-darwin11/
depends/MacOSX10.11.sdk.tar.xz
/built
depends/x86_64-linux-gnu
osx_volname
/dist
depends/i686-w64-mingw32
src/obj/build.h
birakecoin-qt.creator.user
*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash
.idea/

*.tar.gz
*.pyc
*.exe
src/birakecoin
src/birakecoind
src/birakecoin-cli
src/birakecoin-tx
src/test/test_birakecoin
src/qt/test/test_birakecoin-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/birakecoin-config.h
src/config/birakecoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh
src/secp256k1/build-aux/ltmain.sh
src/secp256k1/build-aux/m4/libtool.m4
src/secp256k1/build-aux/m4/ltoptions.m4
src/secp256k1/build-aux/m4/ltsugar.m4
src/secp256k1/build-aux/m4/ltversion.m4
src/secp256k1/build-aux/m4/lt~obsolete.m4
src/secp256k1/libsecp256k1.pc
src/secp256k1/src/libsecp256k1-config.h.in

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

birakecoin.*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.birakecoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
birakecoin-qt
BirakeCoin-Qt.app

# Unit-tests
Makefile.test
birakecoin-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_birakecoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/
/keys/
background.tif*
birakecoin-qt.config
birakecoin-qt.creator
birakecoin-qt.creator.user
birakecoin-qt.files
birakecoin-qt.includes
